.wrapper{
    color: gray;
    width: 70vw;
    height: 70vh;
    background: linear-gradient(0deg, rgba(22, 22, 22, 0.9), rgba(22, 22, 22, 0.3)), url('/gogh.jpg');
    background-size: cover;
    margin-bottom: 1vh;
    border-radius: 5vw;
    border: none;
    max-width: 100%;
}
.aboutwrap{
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.textarea{
    font-size: .5vw;
    left:50%;
    width: auto;
    height: auto;
    padding: 5%;
    background: linear-gradient(-45deg, rgba(22, 22, 22, 1), rgba(22, 22, 22, 0.3));
    position: relative;
    color: gray;
    border-radius: 1.5vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}
